<h1>Carrito</h1>

{{#if cart}}
  <h2>ID del carrito: {{cart._id}}</h2>
  <ul>
    {{#each cart.products}}
      <li>
        <h3>Producto: {{this.product.title}}</h3>
        <p>Descripción: {{this.product.description}}</p>
        <p>Precio: {{this.product.price}}</p>
        <!-- Agrega aquí cualquier otra información del producto que desees mostrar -->
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No se encontró un carrito con el ID especificado.</p>
{{/if}}