<div class="text-center">
  <h1>Bienvenido {{user.name}}!</h1>
  <h2>Rol: {{user.rol}}</h2>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <a href="/api/sessions/logout" class="mr-2">
      <button class="btn btn-primary">Cerrar Sesión</button>
    </a>
  </div>
</div>
  <h1 class="ml-2">Lista de Productos</h1>

  <div
    id="listaProductos"
    class="row-gap-3 column-gap-3 d-flex flex-row justify-content-around align-content-around flex-wrap bg-primary mb-4"
  >
    {{#each listaproductos.docs}}

      <div class="card text-center mt-2 mb-2" style="width: 18rem">
        <h2 class="card-title">{{this.title}}</h2>
        <h4>Precio: ${{this.price}}</h4>
        <h5>Categoría: {{this.category}}</h5>
        <div class="border rounded-4">
          <h4>Descripción:</h4>
          <p class="card-text">{{this.description}}</p>
        </div>
        <h5 class="mt-2">Stock: {{this.stock}} || Código:{{this.code}}</h5>
        <button
          type="button"
          id="btn-add"
          data-id="{{this.id_prod}}"
          class="btn btn-primary btn-lg"
        ><span>Agregar al carrito</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-bag-plus-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"
            />
          </svg></button>
      </div>

    {{/each}}
  </div>

  {{#if listaproductos.hasPrevPage}}

    <a
      href="/products?page={{listaproductos.prevPage}}&limit={{listaproductos.limit}}"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
        />
      </svg>Página anterior</a>
  {{/if}}

  {{#if listaproductos.hasNextPage}}

    <a
      class="position-absolute bottom-10 end-0"
      href="/products?page={{listaproductos.nextPage}}&limit={{listaproductos.limit}}"
    >Página siguiente
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-right-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
        />
      </svg>
    </a>
  {{/if}}

</div>

<script src="/socket.io/socket.io.js"></script>